<%- include('../includes/head.ejs') %>

</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <% if(products.length > 0) { %>
            <div class="cart-nav">
                <h1>Cart Products</h1>
                <div class="banner">
                    <h2 class="total">Total Products :<%= products.length %> </h2>
                    <h3 > Total Price : <%= total %> </h3>
                </div>
            </div>
            <div class="grid">
                <% for(product of products){ %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.item._id.title %> </h1>
                </header>
                <div class="card__image">
                     <% if(product.item._id.image.includes("http")) { %>
                        <img src="<%= product.item._id.image %> ">
                        <% } else { %>
                            <img src="/<%= product.item._id.image %>">
                        <% }%> </div>
                <div class="card__content">
                    <h2 class="product__price"><%= product.item._id.price%></h2>
                    <p class="product__description">
                        <%= product.item._id.description%>
                    </p>
                </div>
                <div class="card__actions">
                    <button type="button" class="btn"><a href="/productDetails/<%= product.id %>"> Details</a></button>
                  <!-- <form action="/clients/remove-item" method="POST" > -->
                <input type="text" id="id" style="display: none;" name="productId" value="<%= product.item._id._id %> ">
                <input type="text" id='_csrf' value="<%=csrfToken%>" style="visibility: hidden;" name="_csrf">

                <button class="btn" id='remove-btn' type="button">
                    Remove
                </button>
                <!-- </form> -->
                </div>
            </article>
            <% } %>
            <div class="centered">
                <form action="/clients/createorder/?user=<%=userName%>" method="POST">
                    <input type="text" value="<%=csrfToken%>" style="visibility: hidden;" name="_csrf">

                    <button type="submit" class="btn">Order Now!</button>
                </form>
            </div>
        </div>
        <% } else { %>
            <h4>No Products Yet !!!</h4>
            <% } %>
        </main>
        <script src="/js/index.js"></script>
    <%- include('../includes/footer.ejs') %>